body {
    background-color: whitesmoke
}

.flex {
    display: flex;
}

.box {
    margin: 5px;
    border: solid black;
    border-radius: 3px;
}

.box1 {
    
    background-color: violet;
    width: 200px;
    height:  50px;
}

.box2 {
    
    background-color: plum ;
    width: 1115px;
    height: 50px;
}

.box3 {
    background-color: pink;
    width: 200px;
    height: 450px;
}

.box4 {
    background-color: purple;
    width: 895px;
    height: 450px;
}

.box5 {
    background-color: powderblue;
    width: 99%;
    height: 50px;
}
